<div
  (swipeleft)="swipe($event.type)"
  (swiperight)="swipe($event.type)"
  (swipeup)="swipe($event.type)"
  (swipedown)="swipe($event.type)"
>
  <img
    class="mySlides img-responsive"
    [src]="'assets/images/' + document.image">
</div>

<a [routerLink]="['/categorize', 'incoming_invoice', document.id]">Rechnungseingang</a>
<a [routerLink]="['/categorize', 'outgoing_invoice', document.id]">Rechnungsausgang</a>
<a [routerLink]="['/categorize', 'cash_register', document.id]">Kasse</a>
<a [routerLink]="['/categorize', 'other', document.id]">Sonstige</a>
