<div *ngIf="!hasMoreDocuments()">
  Keine weiteren nicht zugeordneten Belege vorhanden!
</div>

<div *ngIf="hasMoreDocuments()"
  (swipeleft)="swipe($event.type)"
  (swiperight)="swipe($event.type)"
  (swipeup)="swipe($event.type)"
  (swipedown)="swipe($event.type)"
>
  <img
    class="mySlides img-responsive"
    [src]="'assets/images/' + document.image">
</div>

<a [routerLink]="['/list', 'incoming_invoice']">Rechnungseingang</a>
<a [routerLink]="['/list', 'outgoing_invoice']">Rechnungsausgang</a>
<a [routerLink]="['/list', 'cash_register']">Kasse</a>
<a [routerLink]="['/list', 'other']">Sonstige</a>
