/* You can add global styles to this file, and also import other style files */
a {
    color: rgb(3, 154, 154);
}

h1 {
    color: rgb(3, 154, 154);
    position: relative;
    left: 20px;
}

h3 {
    color: rgba(102, 109, 109, 0.81);
    position: relative;
    left: 20px;
}

p {
    color:grey;
    font-size: 16px;
}

body {
    background-color: rgba(245, 245, 238, 0.86);
}

.categoryBackLink {
    color: rgb(3, 154, 154);
    position: relative;
    left:-15px;
    font-size: 16px;
}

.img-responsive {
    padding: 15px;
    background-color: rgba(245, 245, 238, 0.86);
}

#send {
  alignment: center;
}

#green-heart {
    color: #22FE00;
}
